<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.InterviewKit">

        <!-- Single Launcher: Activity A (InterviewKit) -->
        <activity
            android:name=".launchmodes.ActivityA"
            android:exported="true"
            android:label="@string/app_name"
            android:launchMode="standard"
            android:theme="@style/Theme.InterviewKit"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Activity B (singleTop launchMode) -->
        <activity
            android:name=".launchmodes.ActivityB"
            android:exported="true"
            android:label="Activity B (singleTop)"
            android:launchMode="singleTop"
            android:theme="@style/Theme.InterviewKit"
            android:windowSoftInputMode="adjustResize" />

        <!-- Activity C (singleTask launchMode) -->
        <activity
            android:name=".launchmodes.ActivityC"
            android:exported="true"
            android:label="Activity C (singleTask)"
            android:launchMode="singleTask"
            android:theme="@style/Theme.InterviewKit"
            android:windowSoftInputMode="adjustResize" />

        <!-- Activity D (singleInstance launchMode) -->
        <activity
            android:name=".launchmodes.ActivityD"
            android:exported="true"
            android:label="Activity D (singleInstance)"
            android:launchMode="singleInstance"
            android:theme="@style/Theme.InterviewKit"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:label="@string/app_name"
            android:theme="@style/Theme.InterviewKit"
            android:windowSoftInputMode="adjustResize" />
    </application>

</manifest>